{% extends "layout.html" %}
 {% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename = 'assets/img/home-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts and control them.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1>Basic Actions</h1>
                    <br>
                    <a href = "/dashboard"> <button class="btn btn-primary">Dashboard Home</button></a>
                    <a href = "/logout"> <button class="btn btn-primary">Log Out</button></a>
                    <br>
                    <hr>
                    <br>
                    
                    <h1>Add/Edit Posts</h1>

                    <form name = "sentMessage" id = "contactForm" action = "/edit/{{post.sno}}" method = "post" novalidate>
                        <div class="form-floating">
                            <input class="form-control" id="title" type="text" name = 'title' placeholder="Title" value="{{post.title}}" />
                            <label for="Title">Title</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="tagline" type="text" name = 'tagline' placeholder="tagline" value="{{post.tagline}}" />
                            <label for="TagLine">Tag Line</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="slug" type="text" name = 'slug' placeholder="slug" value="{{post.slug}}" />
                            <label for="Slug">Slug</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="content" name = 'content' placeholder="content"  style="height: 12rem">{{post.content}}</textarea>
                            <label for="Content">Content</label>
                        </div>
                        
                        <!-- <div class="form-floating">
                            <input class="form-control" type = "file" accept = ".doc" id="py_file" name = 'py_file' placeholder="Pyfile" >{{post.py_file}}</input>
                            <label for="Pyfile">Python File</label>
                        </div> -->
                       
                        <!-- <form action = "/upload" method = "post" enctype="multipart/form-data">
                    
                            <input type = "file" name = "file">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      
                          </form> -->
                        <div class="form-floating">
                            <input class="form-control" id="img_file" name = 'img_file' placeholder="Imagefile" value="{{post.img_file}}" ></input>
                            <label for="Imgfile">Image File</label>
                        </div>
                        <br />
                        <button class="btn btn-primary text-uppercase" type="submit">Submit</button>
                    </form>
                    
                 </div>
            </div>
        </div>
        <br>

{% endblock %}